@page
@model BookLister.Pages.DonationCompletedModel
@{
}

<div class="text-center">
    <h2> Thanks! Your order WILL make a difference!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>